<!DOCTYPE html>
<html>
    <head>
        <title>To do list</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="task-section">
                <h2>Add a Task</h2>
                <form method="post" action="{% url 'add_task' %}" class="task-form">
                    {% csrf_token %}
                    <input type="text" name="title" placeholder="Title" required>
                    <textarea name="description" placeholder="Description" required></textarea>
                    <button type="submit">Add</button>
                </form>
                
            </div>
            <div class="divider"></div>
            <div class="task-list-section">
                {% for task in tasks %}
                <div class="task-card">
                    <div class="task-details">
                        <b>{{ task.title }}</b>
                        <p>{{ task.description }}</p>
                    </div>
                    <a href="{% url 'mark_done' task.id %}" class="done-btn">Done</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
